<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: layout('Logcock - file browser', ~{::#content}, ~{})">
<div id="content">

<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li th:each="bc,iterStat : ${breadcrumbs}">
        <a th:href=" @{'/b/' + ${baseId} + ${@files.linkPath(bc, basePath)}}" th:text="${bc.name}" th:classappend="${iterStat.last? 'is-active' : ''}">Bulma</a>
      </li>
  </ul>
</nav>
  <div class="columns" id="logdog-app">
      <div class="column is-12 is-fullheight">
          <div>
              <div class="main">
                  <table id="files" class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                      <thead>
                          <tr>
                              <th data-sort-method='none'>Actions</th>
                              <th>Filename</th>
                              <th>Size</th>
                              <th data-sort-default aria-sort="ascending">Modify time </th>
                              <th>Owner</th>
                              <th>Permission</th>
                              <th>Type</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="file : ${filesInDir}">
                             <td>
                               <a href="#" class="button is-small" th:disabled="${file.isDirectory()}"
                                    th:href="@{${file.isDirectory()} ?
                                        '/b/' + ${baseId} + ${@files.linkPath(file, basePath)}
                                      : '/d/' + ${baseId} + ${@files.linkPath(file, basePath)}}"
                                ><span class="icon has-text-info"> <i class="fas fa-download"></i> </span>
                                </a>

                               <a class="button is-small"  th:href="@{${file.isDirectory()} ?
                                        '/b/' + ${baseId} + ${@files.linkPath(file, basePath)}
                                      : '/t/' + ${baseId} + ${@files.linkPath(file, basePath)}}"
                                ><span class="icon has-text-info"> <i class="fas fa-eye"></i> </span>

                                      </a>
                             </td>

                              <td class="is-size-7" data-sort-column-key="price">
                                <a href="#" class="item"
                                    th:href="@{${file.isDirectory()} ?
                                        '/b/' + ${baseId} + ${@files.linkPath(file, basePath)}
                                      : '/d/' + ${baseId} + ${@files.linkPath(file, basePath)}}"
                                >
                                    <span class="icon"><i class="fa" th:classappend="${file.isDirectory()} ? fa-folder : fa-file"></i></span>
                                    <span class="name" th:text="${file.name}">filename</span>
                                </a>
                              </td>
                              <td th:text="${@files.size(file)}">Size</td>
                              <td class="is-size-7" th:text="${#dates.format(@files.lastModified(file),'yyyy.MM.dd hh:mm:ss')}">Modify time</td>
                              <td th:text="${@files.owner(file)}">Owner</td>
                              <td th:text="${@files.permission(file)}">Permission</td>
                              <td th:text="${@files.type(file)}">Type</td>
                          </tr>

                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>

</div>
</html>
